<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cqupt.dao.SpNewsMapper" >
  <resultMap id="BaseResultMap" type="cqupt.domain.SpNews" >
    <id column="newsid" property="newsid" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from spnews
    where newsid = #{newsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cqupt.domain.SpNews" >
    insert into spnews (newsid)
    values (#{newsid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cqupt.domain.SpNews" >
    insert into spnews
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsid != null" >
        newsid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsid != null" >
        #{newsid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>